---
import Banner from "@/components/landing/Banner.astro";
// Assets
import BgGrid from "@/components/assets/BgGrid.astro";
---

<section class="border-white/20 border-b">
  <div class="bg-grid p-8 relative">
    <BgGrid />

    <h1
      class="text-white tracking-tighter font-black uppercase text-3xl lg:text-8xl relative"
    >
      We are xSecIRC.
    </h1>
    <p class="text-white text-2xl mt-8">
        We are a secular international, non profit, volunteer driven, donation based, and gender-neutral community of cybersecurity enthusiasts. We are here to provide free education to people interested in cybersecurity and programming, and our motives are clear, we are here to obsolete entities making education a business.
    </p>
  </div>
  <Banner />
</section>
