---
import BgGrid from "@/components/assets/BgGrid.astro";
---

<section class="border-white/20 border-b divide-y divide-white/20">
  <div class="p-8 relative">
    <BgGrid />
    <h2 class="text-white font-black uppercase tracking-tight lg:text-7xl text-xl">
      The xSecIRC Manifesto
    </h2>
  </div>
  <div class="p-8">
    <p class="text-white lg:text-xl">
        Cybersecurity has a gatekeeper problem. A handful of entities have made this field a goddamn business, built to keep you out unless you pay.<br/><br/>They sell you a fantasy of a six-figure job and a 'hacker' certification. The harsh reality? Their courses are often outdated, a quick search away, and built on hype. They take your money without giving you the skills needed to survive in the real world.<br/><br/>We don't just believe in change—we act.<br/><br/><strong>xSecIRC</strong> is a force built to tear down those walls. We are a secular, non-profit army of volunteers united by one truth: <strong>education is a fundamental human right, not a commodity.</strong><br/><br/>While they sell access, we provide it. Our mission is to obsolete the greedy and rig the system in favor of the people. We don't ask for a seat at their table—we're building our own.<br/><br/>This is not just a community; it's a revolution. If you're ready for a real fight, this is your home.
    </p>
  </div>
</section>
